.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  box-sizing: border-box;
}

@media (max-width: 1180px) {
  .container {
    max-width: 890px;
  }
}

@media (max-width: 890px) {
  .container {
    max-width: 590px;
  }
}

.cardsbox {
  display: flex;
  flex-wrap: wrap;
}

.sortingmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
}

.button {
  text-align: center;
  width: max-content;
  padding: 0 10px;
  background: #00000070;
  line-height: 28px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.8);
}

.button:not(:first-child) {
  margin-left: 10px;
}

.button:focus {
  background: #000000b3;
  color: rgba(255, 255, 255);
}

.button:hover {
  background: #000000b3;
  color: rgba(255, 255, 255);
}

.buttonMoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
