.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  background: brown;
  height: calc(100vh - 100px);
}

@media (max-width: 468px) {
  .container {
    height: calc(100vh - 70px);
  }
}

.titlebox {
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.score {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.scorespan {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.difficultyTitle {
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: white;
}

/* .difficultySection {
  width: 100%;
} */

.difficultyBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background: burlywood; */
}

.gameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
