.wrap {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}

.titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quotesvg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.title {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  letter-spacing: 4px;
  box-sizing: border-box;
}

.button {
  outline: none;
  border: none;
  margin-right: 10px;
}

.dropDown {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-duration, 0.3s);
}

.quote {
  padding: 5px 25px;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  letter-spacing: -0.2px;
  box-sizing: border-box;
}

.wrap:focus .dropDown {
  max-height: 550px;
  visibility: visible;
  transition: max-height var(--transition-duration, 0.6s);
  transition-timing-function: var(--timing-function, ease);
}

/* .wrap:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wrap:active {
  background: rgba(0, 0, 0, 0.05);
}
.wrap:focus {
  background: rgba(0, 0, 0, 0.05);
} */
