.box {
  max-width: 420px;
  min-height: 500px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.input_box {
  margin-bottom: 20px;
  padding: 10px 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.categories_title_box {
  display: flex;
  justify-content: space-between    ;
  padding: 10px 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
