.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textbox {
  margin-bottom: 30px;
}

.text {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.button {
  border: 1px solid black;
  height: 32px;
  line-height: 32px;
}
