.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.homepage {
  padding-top: 20px;
}

.titlebox {
  margin-bottom: 20px;
  padding: 0 10px;
}

.title {
  text-align: start;
  font-size: 56px;
  line-height: 78px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.subtitle_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #80808036;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.subtitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 64px;
}

.link {
  background: #64646436;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  box-sizing: border-box;
}

.contentbox {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 0 5px;
}

@media (max-width: 1150px) {
  .contentbox {
    flex-wrap: wrap;
  }
}

@media (max-width: 725px) {
  .homepage {
    padding-top: 20px;
  }

  .titlebox {
    margin-bottom: 15px;
  }

  .title {
    font-size: 46px;
    line-height: 58px;
  }

  .subtitle {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: -0.4px;
  }
}

@media (max-width: 600px) {
  .titlebox {
    margin-bottom: 10px;
  }

  .title {
    font-size: 38px;
    line-height: 46px;
  }

  .subtitle {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.4px;
  }
}

@media (max-width: 500px) {
  .homepage {
    padding-top: 15px;
  }

  .titlebox {
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .subtitle {
    padding: 0 5px;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.4px;
  }
}

@media (max-width: 415px) {
  .title {
    font-size: 30px;
    line-height: 36px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
